.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 37px;
}

.headerWrapper h3 {
  flex: 1; 
  text-align: center;
  font-size: 30px;
}

.addCarButton{
  border: 1px solid green;
  padding: 10px 15px;
  background-color: green;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

.addCarButton:hover{
  opacity: 0.7;
  transition: 0.3s;
}

.rallyCars{
  display: flex;
  list-style: none;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline-start: 0;
}

.carCard{
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.774);
  border-radius: 10px;
  padding: 10px 20px;
  max-width: 500px;
  align-items: center;
  gap: 15px;
  background-color: rgba(255, 255, 255, 0.774);
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.header{
  color: white;
}

.title{
  font-size: 30px;
}

.image{
  object-fit: cover;
  width: 420px;
  height: 280px;
}

.carDetails{
  display: flex;
  gap: 40px;
}

.detail{
  font-size: 20px;
}