<div class="wrapper">
  <div class="carCard" *ngIf="car">
    <input class="input" type="text" [(ngModel)]="car.name" id="name">
    <img [src]="car.image" alt="car.name" class="image"/>
    <div class="carDetails">
      <input class="input" type="text" [(ngModel)]="car.drivetrain" id="drivetrain">
      <input class="input" type="text" [(ngModel)]="car.horsepower" id="horsepower">
    </div>
    <div class="buttonWrapper">
      <button class="button" type="button" (click)="goBack()">Back</button>
      <button class="button" type="button" (click)="save()">Save</button>
    </div>
  </div>
</div>


